Sourcery_*
make.bat
**/env
**/tests
**/Input
**/Sourcery
**/Output
**/sourced_original
**/.vscode
**/54182
Sourcery.code-workspace
settings.json
activate_env.bat
test.py
upload_file.py
identify_images_v1.1.py
dl.py
credentials*
**.pyc
danbooru_experiment.py
pixiv_handler_old.py
backup.bat
upback.bat